serviceMaps:
  serviceName: ptr-services
  mappings:
    - version: 1.0
      description: Persists Pet details in tables
      fromTopic: save-ptr-application
      isTransaction: true	
      queryMaps:

        - query: INSERT INTO eg_ptr_registration(id,tenantid,applicationnumber,applicantname,fathername,mobileNumber,emailId,aadharNumber,createdby,lastmodifiedby,createdtime,lastmodifiedtime) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?);
          basePath: PetRegistrationApplications.*
          jsonMaps:
            - jsonPath: $.PetRegistrationApplications.*.id

            - jsonPath: $.PetRegistrationApplications.*.tenantId

            - jsonPath: $.PetRegistrationApplications.*.applicationNumber
            
            - jsonPath: $.PetRegistrationApplications.*.applicantName
          
            - jsonPath: $.PetRegistrationApplications.*.fatherName
            
            - jsonPath: $.PetRegistrationApplications.*.mobileNumber
            
            - jsonPath: $.PetRegistrationApplications.*.emailId
            
            - jsonPath: $.PetRegistrationApplications.*.aadharNumber
            
            - jsonPath: $.PetRegistrationApplications.*.auditDetails.createdBy

            - jsonPath: $.PetRegistrationApplications.*.auditDetails.lastModifiedBy

            - jsonPath: $.PetRegistrationApplications.*.auditDetails.createdTime
            
            - jsonPath: $.PetRegistrationApplications.*.auditDetails.lastModifiedTime

        - query: INSERT INTO eg_ptr_address(id, tenantid, doorno, latitude, longitude, buildingname, addressid, addressnumber, type, addressline1, addressline2, landmark, street, city, locality, pincode, detail, registrationid, createdby, lastmodifiedby, createdtime, lastmodifiedtime) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?);
          basePath: PetRegistrationApplications.*
          jsonMaps:
            - jsonPath: $.PetRegistrationApplications.*.address.id

            - jsonPath: $.PetRegistrationApplications.*.address.tenantId

            - jsonPath: $.PetRegistrationApplications.*.address.doorNo

            - jsonPath: $.PetRegistrationApplications.*.address.latitude

            - jsonPath: $.PetRegistrationApplications.*.address.longitude

            - jsonPath: $.PetRegistrationApplications.*.address.buildingName

            - jsonPath: $.PetRegistrationApplications.*.address.addressId

            - jsonPath: $.PetRegistrationApplications.*.address.addressNumber

            - jsonPath: $.PetRegistrationApplications.*.address.type

            - jsonPath: $.PetRegistrationApplications.*.address.addressLine1

            - jsonPath: $.PetRegistrationApplications.*.address.addressLine2

            - jsonPath: $.PetRegistrationApplications.*.address.landmark

            - jsonPath: $.PetRegistrationApplications.*.address.street

            - jsonPath: $.PetRegistrationApplications.*.address.city

            - jsonPath: $.PetRegistrationApplications.*.address.locality.name

            - jsonPath: $.PetRegistrationApplications.*.address.pincode

            - jsonPath: $.PetRegistrationApplications.*.address.detail

            - jsonPath: $.PetRegistrationApplications.*.id

            - jsonPath: $.PetRegistrationApplications.*.address.createdBy

            - jsonPath: $.PetRegistrationApplications.*.address.lastModifiedBy

            - jsonPath: $.PetRegistrationApplications.*.address.createdTime

            - jsonPath: $.PetRegistrationApplications.*.address.lastModifiedTime
            
        - query: INSERT INTO eg_ptr_petdetails(id, petName, petType, breedType, petAge, petGender, clinicName, doctorName, lastVaccineDate, vaccinationNumber, petDetailsId) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?);
          basePath: PetRegistrationApplications.*
          jsonMaps:
            - jsonPath: $.PetRegistrationApplications.*.petDetails.id

            - jsonPath: $.PetRegistrationApplications.*.petDetails.petName

            - jsonPath: $.PetRegistrationApplications.*.petDetails.petType

            - jsonPath: $.PetRegistrationApplications.*.petDetails.breedType

            - jsonPath: $.PetRegistrationApplications.*.petDetails.petAge

            - jsonPath: $.PetRegistrationApplications.*.petDetails.petGender

            - jsonPath: $.PetRegistrationApplications.*.petDetails.clinicName

            - jsonPath: $.PetRegistrationApplications.*.petDetails.doctorName

            - jsonPath: $.PetRegistrationApplications.*.petDetails.lastVaccineDate
            
            - jsonPath: $.PetRegistrationApplications.*.petDetails.vaccinationNumber

            - jsonPath: $.PetRegistrationApplications.*.petDetails.petDetailsId


    - version: 1.0
      description: Update Pet registration applications in table
      fromTopic: update-ptr-application
      isTransaction: true
      queryMaps:
        - query: UPDATE eg_ptr_registration SET tenantid = ?,applicantName = ?, fatherName = ? WHERE id=?;
          basePath: PetRegistrationApplications.*
          jsonMaps:
            - jsonPath: $.PetRegistrationApplications.*.tenantId

            - jsonPath: $.PetRegistrationApplications.*.applicantName
           
            - jsonPath: $.PetRegistrationApplications.*.fatherName

            - jsonPath: $.PetRegistrationApplications.*.id